<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <link href="../css/carousel.css" rel="stylesheet">

  <script src="../Controller/scripts.js"></script>
   <style type="text/css">
     
#bstyle{
  position:absolute;z-index:2;top:0;left:0; 
 filter: alpha(opacity=0);
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 opacity:0;background-color:transparent;color:transparent;'

}

   </style>
    <link href="../css/dashboard.css" rel="stylesheet">


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" ng-controller="MainController as up">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ng-repeat-start="model in admin.Adminpage" ng-click='changeShow($index)'><a href="#">{{model.name}}</a></li>
            <li ng-show="num == $index" ng-repeat-end="">
            <ul style="list-style-type:none">
             <li ng-repeat="model in admin.Adminpage[num].Subpage" ng-click="showEvent(model)"><a href="#">{{model.name}}</a></li>
            </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <div ng-show="attachevent">
         <form name="up.upload_form" id="form">
         <div class="col-sm-2">
         <addbuttonsbutton ng-click="remove('as','as')"></addbuttonsbutton>
         </div>
        <div class="col-sm-2">
         <addparagraph ng-click="remove('para','para')"></addparagraph>
         </div>
         <div class="col-sm-2">
         <addimage></addimage>
         </div>
         <div class="col-sm-2">
          <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
         </div>
         <div class="col-sm-2">
            
         </div>
         <div class="col-sm-2">
         <button type="button" class="btn btn-success" ng-click="postData()">post</button>
         </div>
         <!--<input 
                type="file" 
                ngf-select 
                ng-model="up.file" 
                name="file" 
                ngf-pattern="'image/*'"
                accept="image/*" 
                ngf-max-size="20MB" 
                />
            Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/>
            <!--<i ng-show="up.upload_form.file.$error.required">*required</i><br>
            <i ng-show="up.upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
           <!--  Multiple files
            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> 
            <button type="submit" ng-click="up.submit()">submit</button>-->
            </form>
        </div>
        <div ng-show="manageevent">
          <div class="table-responsive">          
            <table class="table">
                  <tr>
                   <th>#</th>
                   <th>Id</th>
                   <th>Created_Date</th>
                   <th>Post_Date</th>
                   <th>Heading</th>
                   <th>EDIT</th>
                   <th>delete</th>
                  </tr>
                <tr ng-repeat="data in tevents | orderBy:'data[0].created_date':false">
                 <td>{{$index+1}}</td>
                 <td>{{data.rand}}</td>
                 <td>{{data.created_date | date:'yyyy-MM-dd'}}</td>
                 <td>{{data.data[0].date | date:'yyyy-MM-dd'}}</td>
                 <td>{{data.data[1].heading}}</td>
                 <td><button type="button" class="btn btn-default btn-sm" ng-click="showEdit($index,data)">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button></td>
                 <td style="padding-left:20px;" ng-click="del(data.rand)"><button>&#x274E;</button></td>
               </tr>
               <!--<tr ng-show="number==$index"  ng-repeat-end="">
               <td ng-repeat="dat in events.data">
                          <span ng-if="dat.heading!=undefined"><input type="text" ng-model="idval[$index]" value={{dat.heading}}></input></span>
                          <span ng-if="dat.para!=undefined"><textarea ng-model="idval[$index]" value={{dat.para}}></textarea></span>
                          <span ng-show="len==$index"><button ng-click="update(events,len)">Update</button></span>
               </td>
                    <!--<table class="table">
                        <tr ng-repeat="dat in events.data">
                          <td ng-if="dat.heading!=undefined"><input type="text" ng-model="idval[$index]" value={{dat.heading}}></input></td>
                          <td ng-if="dat.para!=undefined"><input type="text" ng-model="idval[$index]" value={{dat.para}}></input></td>
                          <td ng-show="len==$index"><button ng-click="update(events,len)">Update</button></td>
                          <!--</tr>
                      </table>
               </tr>-->
               </table>
            <!--<table>
               <tr ng-repeat="dat in events.data">
               <td ng-if="dat.heading!=undefined"><input type="text" ng-model="idval[$index]" value={{dat.heading}}>{{dat.heading}}</input></td>
               <td ng-if="dat.para!=undefined"><input type="text" ng-model="idval[$index]" value={{dat.para}}></input></td>
               <td ng-show="len==$index"><button ng-click="update(events,len)">Update</button></td>
               </tr>
            </table>-->
          </div>
        </div>
  <div ng-show="CompnayDetails">
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Company Name</th>
                  <th>Employee Name</th>
                  <th>Employee Phone</th>
                  <th>Employee Address</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="com in Company.CompanyDetails">
                <td>{{com.id}}</td>
                <td>{{com.cname}}</td>
                <td>{{com.ename}}</td>
                <td>{{com.phone}}</td>
                <td>{{com.address}}</td>
              </tr>
              </tbody>
            </table>
          </div>
  </div>
  <div ng-show="StudentDetails">
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Student Name</th>
                  <th>Qualification</th>
                  <th>Phone</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="std in Student.StudentInfo">
                <td>{{std.id}}</td>
                <td>{{std.sname}}</td>
                <td>{{std.Qualification}}</td>
                <td>{{std.phone}}</td>
                <td>{{std.address}}</td>
              </tr>
              </tbody>
            </table>
          </div>
  </div>
        
  <div ng-show="EmployeeData">
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Employee Name</th>
                  <th>Qualification</th>
                  <th>Phone</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="emp in Employee.EmployeeDetails">
                <td>{{emp.id}}</td>
                <td>{{emp.ename}}</td>
                <td>{{emp.Qualification}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.address}}</td>
              </tr>
              </tbody>
            </table>
          </div>
  </div>
  <div ng-show="attachgal">
  <form id="form1">
  <addgallery></addgallery>
  </form>
   <div>
      <carousel interval="myInterval" style="margin-right: -10%;margin-left: -10%;">
        <slide ng-repeat="slide in galarray" active="slide.active">
          <img ng-if="slide[0].url!=undefined" ng-src="{{slide[0].url}}">
          <img ng-if="slide[1].url!=undefined" ng-src="{{slide[1].url}}">
          <div class="carousel-caption">
            <h4 ng-if="slide[0].Heading!=undefined">{{slide[0].Heading}}</h4>
            <h4 ng-if="slide[1].Heading!=undefined">{{slide[1].Heading}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
      </div>
      <div ng-show="managegal">
        <table class="table">
        <tr>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
        <tr ng-repeat="gal in gallery">
        <td><img ng-src="{{gal.url}}" height="42" width="42"></td>
        <td><button type="button" class="btn btn-default btn-sm" ng-click="showgalEdit($index,gal)">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button></td>
        <td ng-click="delimage(gal.rand)"><button>&#x274E;</button></td></td>
        </tr>
        </table>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-shim.min.js"></script>
    
  </body>
</html>
